/*=============================== GOOGLE FONTS ============================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.container{
    margin: 0;
}
/*=============================== VARIABLE CSS ============================*/
:root{
    --header-height: 3.5rem;
    /*=============================== COLORS CSS ============================*/
    /*Color mode HSL (Hue, Saturation and Lightness)*/
    /*
    Purple:hsl(250, 66%, 75%)
    Blue:hsl( 207, 90%, 72%)
    Pink:hsl( 356, 66%, 75%)
    Teal:hsl( 174, 63%, 62%)
    */
    
    --first-hue: 250;
    --sat: 66%;
    --lig: 75%;
    --second-hue: 219;
    
    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 71%);
    --title-color: hsl(var(--second-hue), 15%, 95%);
    --text-color: hsl(var(--second-hue), 8%, 75%);
    --text-color-light: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--second-hue), 48%, 8%);
    --container-color: hsl(var(--second-hue), 32%, 12%);
    
    /*=============================== Fonts CSS ============================*/
    /*
    0.5rem = 8px
    1rem = 16px
    */
    
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --tiny-font-size: 0.625;
    /*=============================== Fonts weight ============================*/
    --font-medium: 500;
    --font-semibold: 600;
    
    /*=============================== z- index ============================*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 999;
}

@media (min-width: 968px){

    :root{
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
        --tiny-font-size: 0.575;
            }
        }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body,
button,
input,
textarea{
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}
body{
    background-color: var(--body-color);
    color: var(--text-color);
    transition: .4s;/*for light mode animation*/
}
h1,h2,h3{
    color: var(--title-color);
    font-weight: var(--font-semibold);
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
button{
    outline: none;
    cursor: pointer;
    border: none;
}
img{
    max-width: 100%;
    height: auto;
}
.container{
    max-width: 968px;
    margin: 1rem 1rem;
}
.grid{
    display: grid;
    gap: 1.25rem;
}
.main{
    overflow: hidden;
}
.section{
    padding: 4.5rem 0 1rem;
}
.section__title,
.section__subtitle{
    text-align: center;
}
.section__title{
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-bottom: 2rem;
}
.section__subtitle{
    display: block;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
}
/*=============================== header and nav ============================*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    transition: .4s;/*for light mode animation*/
}
.nav{
    height: var(--header-height);
    display: flex;justify-content: space-between;
    align-items: center;
}
.nav__logo{
    color: var(--first-color);
    font-weight: var(--font-medium);
    transition: .4s;
}
.nav__logo1{
    color: var(--title-color);
}
.nav__logo:hover{
    color: var(--first-color-alt);
}
.nav__menu{
    position: fixed;
    bottom: 1rem;
    background-color: hsla(var(--second-hue), 32%, 16%, .8);
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(10px);
    transition: .4s;/*for light mode animation*/
}
.nav__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__link{
    color: var(--text-color);
    font-size: 1.25rem;
    padding: .4rem;
    display: flex;border-radius: 5rem;
}

/*Active Links*/
.active-link, .nav__link.active{
    background: linear-gradient(180deg, 
                    hsla(var(--first-hue), var(--sat), var(--lig), 1),
                    hsla(var(--first-hue), var(--sat), var(--lig), .2)
                );
    box-shadow: 0 0 16px hsla(var(--first-hue), var(--sat), var(--lig), .4),;
    color: var(--title-color);
}
.contact__card.active,
.contact__content.active,
.contact__form-div.active,
.about__box.active,
.about__description.active,
.skills__content.active,
.services__card.active,
.email.active,
.whatsapp.active,
.messenger.active{
    border: 5px solid  var(--first-color);
}
.contact__form-input.active{
    border: 2px solid  var(--first-color);
}

/* Change background header*/
.scroll-header{
    box-shadow: 0 4px 4px hsla(0, 0%, 4%, .3);
}


/* ========================== Home=========================== */
.home__container{
    position: relative;
    row-gap: 2.5rem;
    padding-top: 0rem;
}
.home__data{
    text-align: center;
}
.home__greeting,
.home__education{
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}
.home__greeting{
    display: block;
    color: var(--title-color);
    margin-bottom: .25rem;
}
.home__education{
    color: var(--text-color);
    margin-bottom: 2.5rem;
}
.home__img{
    width: 160px;
    margin-bottom: 2.5rem;
}

.home__handle{
    justify-self: center;
    width: 190px;
    height: 293px;
    background: linear-gradient(180deg, 
                hsla(var(--first-hue), var(--sat), var(--lig), 1),
                hsla(var(--first-hue), var(--sat), var(--lig), .2)
                );
    border-radius: 10rem 10rem 1rem 1rem;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    justify-content: center;
}
.home__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}
.home__social,
.home__scroll{
    position: absolute;
}
.home__social{
    bottom: 5rem;
    left: 0;
    display: grid;
    row-gap: .5rem;
}
.home__social-link{
    width: max-content;
    background-color: var(--container-color);
    color: var(--first-color);
    display: flex;
    padding: .25rem;
    font-size: 1rem;
    transition: .4s;
}
.home__social-link:hover{
    background-color: var(--first-color);
    color: #fff;
}
.home__social::after{
    content: '';
    width: 32px;
    height: 2px;
    background-color: var(--first-color);
    transform: rotate(90deg) translate(16px, 3px);
}
.home__scroll{
    display: grid;
    bottom: 4rem;
    right: -1.5rem;
    row-gap: 2.25rem;
    justify-items: center;
    color: var(--first-color);
}
.home__scroll-name{
    font-size: var(--smaller-font-size);
    transform: rotate(-90deg);
}
.button{
    display: inline-block;
    background-color:var(--first-color);
    color: var(--body-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.button:hover{
    background-color: var(--first-color);
    color: var(--body-color);
}
.button--ghost{
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.home__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 8rem 4rem;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
}
.home__modal-content{
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}
.home__modal-title,
.home__modal-description{
    text-align: center;
}
.home__modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}
.home__modal-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.home__modal-list{
    display: grid;
    row-gap: .75rem;
    font-size: var(--small-font-size);
}
.home__modal-item{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}
.home__modal-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.home__modal-info{
    font-size: var(--small-font-size);
}
.home__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}

/*========================== About ====================================*/
.about__container{
    row-gap: 2.5rem;
}
.about__img{
    width: 220px;
    border-radius:1.5rem;
    justify-self: center;
    transform: rotate(0);
}
.about__img:hover{
    transform: rotate(10deg);
}
.about__data{
    text-align: center; 
}
.about__info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .5rem;
    margin-bottom: 2rem;
}
.about__box{
    background-color:var(--container-color);
    border-radius: .75rem;
    padding: .75rem .5rem;
}
.about__icon{
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: .5rem;
}
.about__title{
    font-size: var(--small-font-size);
}
.about__subtitle{
    font-size: var(--tiny-font-size);
}
.about__description{
    margin-bottom: 2rem;
}

/* ========================== skills =========================== */
.skills__container{
    row-gap: 2.0rem;
    padding-top: 1rem;
}
.skills__content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}
.skills__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    text-align: center;
    margin-bottom: 1.5rem;
}
.skills__box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}
.skills__group{
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}
.skills__data{
    display: flex;column-gap: .5rem;
}
.skills .bxs-badge-check{
    font-size: 1rem;
    color: var(--first-color);
}
.skills__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
}
.skills__level{
    font-size: var(--tiny-font-size);
}
/* ========================== services =========================== */
.services__container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding-top: 1rem;
}
.services__card{
    background-color: var(--container-color);
    padding: 3rem 1.5rem 1.5rem;
    border-radius: 1rem;
}
.services__title{
    font-size: var(--h3-font-size);
    margin-bottom: 2.5rem;
}

.services__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}
.services__button:hover .services__icon{
    transform: translateX(.25rem);
}
.services__icon{
    font-size: 1rem;
    transition: .4s;
}

.services__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 8rem 4rem;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
}
.services__modal-content{
    position: relative;
    background-color: var(--body-color);
    padding: 4.5rem 1.5rem 2.5rem;
    border-radius: 1.5rem;
}
.services__modal-title,
.services__modal-description{
    text-align: center;
}
.services__modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
}
.services__modal-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.services__modal-list{
    display: grid;
    row-gap: .75rem;
    font-size: var(--small-font-size);
}
.services__modal-item{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}
.services__modal-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.services__modal-info{
    font-size: var(--small-font-size);
}
.services__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}


/* ========================== work =========================== */
.work__container{
    padding-top: 1rem;
    justify-content: center;
}
.work__filters{
    display: flex;justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: 0.25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}
.work__card{
    background-color: var(--container-color);
    padding: 1rem; 
    border-radius: 1rem;
}
.work__img{
    border-radius: 1rem;
    margin-bottom: .75rem;
    height: 200px;
    object-fit: cover;
}
.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}
.work__button{
    width: max-content;
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
}
.work__button:hover .work__icon{
    transform: translateX(.25rem);
}
.work__icon{
    font-size: 1rem;
    transition: .4s;
    cursor: pointer;
}
.active-work{
    background-color: var(--first-color);
    color: var(--body-color);
}

.work__modal{
    position: fixed;
    inset: 0;
    background-color: hsla(var(--second-hue), 28%, 16%, .7);
    padding: 2rem 1rem;
    display: grid;
    place-items: center;
    transition: .4s;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
}
.work__modal-content{
   display: flex;
  /* display: grid;
   grid-template-columns: repeat(2, 1fr);*/
   position: relative;
   background-color: var(--body-color);
   padding: 4.5rem 1.5rem 2.5rem;
   border-radius: 1.5rem;
   flex-direction: column;
}
.work__modal-contentDown{
    display: flex;
}
.work__modal-left{
    flex: 1; 
    display: flex;
    align-items: center;
}
.work__modal-buttonGroup{
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.work__modal-right{
    flex: 1;   
}
.wrapper__img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.work__modal-icon{
    cursor: pointer;
    padding: 5px;
}
.work__modal-image{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    margin-bottom: .75rem;
    padding:.75rem;
    object-fit: cover;
}
.slide{
    opacity: 0;
    transition-duration: 1s ease;
}
.slide.active{
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.08);
}
.work__modal-title,
.work__modal-description{
    text-align: center;
}
.work__modal-title{
    font-size: var(--h3-font-size);
    color: var(--first-color);
    margin-bottom: 1rem;
    grid-column: 1/3;
}
.work__modal-description{
    font-size: var(--small-font-size);
    margin-bottom: 2rem;
}

.work__modal-list{
    display: grid;
    row-gap: .75rem;
    margin-bottom: .75rem;
}
.work__modal-item{
    display: flex;
    align-items: flex-start;
    column-gap: .5rem;
}
.work__modal-icon{
    font-size: 1.5rem;
    color: var(--first-color);
}
.work__modal-info{
    font-size: var(--small-font-size);
}
.work__modal-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    cursor: pointer;
}
.active-modal{
    opacity: 1;
    visibility: visible;
}

.testimonial__card{
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
    min-height: 12rem;
}
.testimonial__img{
    width: 60px;
    border-radius: 3rem;
    margin-bottom: 1rem;
}
.testimonial__name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;
}
.testimonial__description{
    font-size: var(--small-font-size);
}
.slick-slide{
    padding: 1rem;
}
.slide-current{
    border-color: var(--first-color);
}
.slick-dots li.slick-active button:before{
    color: var(--first-color);
}
.slick-dots li button{
    color:  hsla(var(--second-hue), 32%, 16%, .8) !important;
}
.slick-next,
.slick-prev{
    opacity: 0;
}
/*dots{
    
    background-color: var(--small-font-color);
}*/
/*dots active{
    
    background-color: var(--text-color-light);
}*/

/*contacts*/
.contact__container{
    row-gap: 3rem;
    padding-bottom: 3rem;
}
.contact__title{
    text-align: center;
    font-size: var(--h3-font-size);
    margin-bottom: 1.5rem;
}
.contact__info{
    display: grid;
    gap: 1rem;
}
.contact__card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: .75rem;
    text-align: center;
}
.contact__card-icon{
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: 0.25rem;
}
.contact__card-title,
.contact__card-data{
    font-size: var(--small-font-size);
}
.contact__card-title{
    font-weight: var(--font-medium);
}
.contact__card-data{
    display: block;
    margin-bottom: 0.75rem;
}
.contact__button{
    color: var(--first-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .25rem;
}
.contact__button:hover .contact__button-icon{
    transform: translateX(.25rem);
}
.contact__button-icon{
    font-size: 1rem;
    transition: .4s;
}
.contact__form-div{
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}
.contact__form-input{
    position: absolute;
    top: 0;
    left: 0;width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-light);
    background: none;
    color: var(--text-color);
    outline:none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}
.contact__form-tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}
.contact__form-area{
    height: 11rem;
}
.contact__form-area textarea{
    resize: none;
}
.contact__form-buttonSection{
    display: flex;
}
.contact__Send-button{
    height: 47px;
    width: 50%;
}
button.active,
.contact__Send-button.active{
    background-color:  var(--container-color);
    cursor: none;
    display: inline-block;
    color: var(--first-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}
.contact__form-notification.active{
    opacity: 1;
}
.contact__form-notification{
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    font-weight: var(--font-medium);
    width: 60%;
    margin-left: 15px;
    opacity: 0;
}
/*Footer*/
.footer{
    background-color: var(--first-color);
}
.footer__container{
    padding: 2rem 0 6rem;
}
.footer__title,
.footer__link{
    color: var(--body-color);
}
.footer__title{
    text-align: center;
    margin-bottom: 2rem;
}
.footer__list{
    display: flex;
    margin-bottom: 2rem;
    justify-content: center;
    column-gap: 1.5rem;
}
.footer__social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}
.footer__social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: 0.25rem;
    border-radius: .25rem;
    font-size: 1rem;
    display: inline-flex;
}
.footer__copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
}


/* Alert */
.loading {
    display: block !important;
  }
  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  .alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
  }
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }
/*scroll bar*/
::-webkit-scrollbar{
    width: 0.6rem;
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 38%);
}
::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: hsl(var(--second-hue), 8%, 26%);
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--second-hue), 8%, 20%);
}
/*change theme*/
.change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    transition: .3s;
    margin-left: 2rem;
}
.change-theme:hover{
    color: var(--first-color);
}

.info__AI{
    position: absolute;
    top: 5rem;
    width: 250px;
    right: 9rem;
    padding: 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    opacity: 0;
    background-color: var(--container-color);
}
.info__AI.active{
    opacity: 1;
}
.info__AI-list{
    margin-top: 0.75rem;
}
.info__AI-list li{
    padding: 0 0.5rem 0.5rem 0.5rem;
}
body.light-theme{
    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 8%, 35%);
    --body-color: hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;
}
/*color changes in some part of the website in light mode*/
.light-theme .scroll-header{
    box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}
.light-theme .nav__menu{
    background-color: hsla(var(--second-hue), 32%, 90%, .8);
}
.light-theme .section__subtitle{
    color: var(--text-color);
}
.light-theme .home__social-link{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .home__social-link::after,
.light-theme .footer__social-link{
    background-color: var(--title-color);
}
.light-theme .home__social-link,
.light-theme .home__scroll,
.light-theme .button,
.light-theme .button:hover,
.light-theme .active-work,
.light-theme .footer__title,
.light-theme .footer__link,
.light-theme .footer__copy{
    color: var(--title-color);
}
.light-theme .about__box{
    box-shadow: 0 2px 8px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme .skills__content,
.light-theme .services__card,
.light-theme .work__card,
.light-theme .testimonial__card,
.light-theme .contact__card{
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}
.light-theme::-webkit-scrollbar{
    background-color: hsla(var(--second-hue), 8%, 66%);
}
.light-theme::-webkit-scrollbar-thumb{
    background-color: hsla(var(--second-hue), 8%, 54%);
}
.light-theme::-webkit-scrollbar-thumb:hover{
    background-color: hsla(var(--second-hue), 8%, 44%);
}

/*============================= BreakPoints ============================================*/
/*For small devices*/
@media screen and (max-width: 320px){
    .nav__menu{
        padding: 1rem 1.5rem;
    }
    
    .info__AI{
        width: 200px;
        right: 1.5rem;
        font-size: .75rem;
    }
    .home__buttons{
        flex-direction: column;
    }
    .home__handle{
        width: 150px;
        height: 253px;
    }
    .home__img{
        width: 130px;
    }
    .about__info{
        grid-template-columns: repeat(2, 1fr);
    }
    .skills__box{
        column-gap: 1rem;
    }
    .skills__name{
        font-size: var(--small-font-size);
    }
    .services__container{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .work__item{
        font-size: var(--small-font-size);
    }
    .work__filters{
        column-gap: .25rem;
    }
    .work__modal-contentDown {
        flex-direction: column;
    }
}
@media screen and (max-width: 450px){
    .services__container{
        grid-template-columns: 1fr;
        justify-content: center;
        grid-template-columns: 1fr;
    }
    .info__AI{
        right: 2rem;
        width: 200px;
        font-size: .75rem;
    }
    .work__modal-contentDown {
        flex-direction: column;
    }
}
/*For medium devices*/
@media screen and (min-width: 576px){
    .nav__menu{
        width: 328px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
    .info__AI{
        right: 6rem;
        width: 200px;
        font-size: .75rem;
    }
    .about__info{
        grid-template-columns: repeat(3, 140px);
        justify-content: center;
    }
    .about__description{
        padding: 0 5rem;
    }
    .skills__container{
        justify-content: center;
    }
    .skills__content{
        padding: 2rem 4rem;
    }
    .services__container{
        grid-template-columns: repeat(2, 220px);
        justify-content: center;
    }
    .home__modal-content{
        width: 500px;
        padding: 4.5rem 2.5rem 2.5rem;
    }
    /*.home__modal-description{
        padding: 0 3.5rem;
    }*/
    .work__container{
        justify-content: center;
    }
    .work__img{
        width: 295px;
    }
    .work__modal-content{
        width: 500px;
        padding: 4.5rem 2.5rem 2.5rem;
    }
    /*.work__modal-description{
        padding: 0 3.5rem;
    }*/
    
    .contact__info{
        grid-template-columns: 300px;
        justify-content: center;
    }
    .contact__form{
        width: 360px;
        margin: 0 auto;
    }
}
@media screen and (min-width: 767px){
    .work__container{
        grid-template-columns: repeat(2, max-content);
    }
    .contact__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: center;
        column-gap: 3rem;
    }
    
    .work__modal-content{
        width: 700px;
    }
}
    /*For large devices*/
@media screen and (min-width: 992px){
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .section{
        padding: 6.5rem 0 1rem;
    }
    .section__title{
        margin-bottom: 3.5rem;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
    }
    .home__handle{
        width: 290px;
        height: 400px;
    }
    .home__img{
        width: 220px;
    }
    .home__social-link{
        padding: 0.4rem;
        font-size: 1.25rem;
    }
    .home__social::after{
        transform: rotate(90deg) translate(16px, 0);
    }
    .home__scroll-icon{
        font-size: 2rem;
    }
    .about__container{
        grid-template-columns: repeat(2, 1fr );
        align-items: center;
        column-gap: 4rem;
    }
    .about_img{
        width: 350px;
    }
    .about__data{
        text-align: initial;
    }
    .about__info{
        justify-content: initial;
    }
    .about__box{
        text-align: center;
        padding: 1rem 1.25rem;
    }
    .about__description{
        padding: 0 4rem 0 0;
        margin-bottom: 2.5rem;
    }
    .skills__container{
        grid-template-columns: repeat(2, 350px);
        column-gap: 3rem;
    }
    .services__container{
        grid-template-columns: repeat(3, 220px );
        column-gap: 3rem;
    }
    .services__card{
        padding: 3rem 2rem 1.5rem;
    }
    .work__container{
        gap: 3rem;
    }
    .work__card{
        padding: 1.25rem;
    }
    .work__img{
        margin-bottom: 1rem;
    }
    .work__title{
        margin-bottom: .5rem;
    }
    .testimonial__container{
        width: 750px;
    }
    .testimonial_card{
        padding: 1.5rem 2rem;
    }
    .contact__container{
        column-gap: 6rem;
    }
    .footer__social-link{
        font-size: 1.25rem;
        padding: 0.4rem;
        border-radius: .5rem;
    }
}